{
	"spider": {
		"user-agent": "Mozilla/5.0 (Windows; U; Windows NT 6.1; en-US; rv:1.9.1.6) Gecko/20091201 Firefox/3.5.6",
		"username": "",
		"password": "",
		"item_limit": 10,
		"threads_per_sec": 20,
		"enable_web_vpn": true
	},
	"database": {
		"hostname": "",
		"port": 3306,
		"username": "",
		"password": "",
		"database": ""
	}
}